<%+header%>  
 


 
<h1><%:Connection Log%></h1> 

<div id="content_syslog">
<textarea style="font-size: 12px;" readonly="readonly" wrap="off" rows="<%=syslog:cmatch("\n")+2%>" id="syslog"><%=syslog:pcdata()%></textarea>
</div>
                                          
<%+footer%>
