<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
 

-%>

<%+header%>
<script type="text/javascript">//<![CDATA[
	var stxhr = new XHR();
	
	function getBackupfile()
	{
		var url = '<%=url('gateway/latestbackup')%>';
		stxhr.post(url, {token: '<%=token%>' },function(result)
		{
			if (result.status==200)
            {
                var top = result.response.split("---");
				var data = top[0].split(".")[0];	
				var labeldiv = document.getElementById("latestbackup")
                labeldiv.innerHTML = data + " ";
                var labeldiv2 = document.getElementById("upgradefile");
                if (top[1] != 'fail') {
                    var upgradebutton = doument.getElementById("upgradebutton");
                    upgradebutton.disabled = false;
                    labeldiv2.innerHTML = top[1] + " ";
                }
                else labeldiv2.innerHTML = "not found";
            }
        });
    }


	function restoreBackup()
	{
		var url = '<%=url('gateway/rollback')%>';
		stxhr.post(url, {token: '<%=token%>' },function(result)
			{
				if (result.status==200)
				{
					var labeldiv = document.getElementById("latestbackup");
					labeldiv.innerHTML=labeldiv.innerHTML + "(succesfully restored)";
				}
			});
    }

    function upgradeFirmware() {
        var url = '<%=url('gateway/upgrade')%>';
        stxhr.post(url, { token: '<%=token%>' }, function (result) {
            if (result.status == 200) {
                var labeldiv = document.getElementById("upgradefile");
                labeldiv.innerHTML = labeldiv.innerHTML + "(succesfully upgraded)";
                alert("upgrade completed");
            }
        });
    }

    window.addEventListener('load', getBackupfile, false);

//]]></script>

<h2 name="content"><%:Backup/Restore operations%></h2>

<ul class="cbi-tabmenu">
	<li class="cbi-tab"><a href="#"><%:Actions%></a></li>
</ul>

<div class="cbi-section">
    <h3><%:Upgrade Firmware%></h3>
    <div class="cbi-section-descr"><%:Click "Upgrade firmware" to update the firmware of the gateway. Insert a properly configured USB stick before carrying out this action. %></div>
    <div class="cbi-section-node">
        <form class="inline" method="post" action="<%=url('gateway/upgrade')%>">
            <input type="hidden" name="token" value="<%=token%>" />
            <div class="cbi-value<% if not reset_avail then %> cbi-value-last<% end %>">
                <label id="upgradefile" class="cbi-value-title" for="image"></label>
                <div class="cbi-value-field">
                    <input class="cbi-button cbi-button-action important" type="button" onclick="upgradeFirmware()" name="backup" value="<%:Upgrade%>" id="upgradebutton" disabled="true"/>
                </div>
            </div>
        </form>
    </div>

    <h3><%:Roll Back%></h3>
    <div class="cbi-section-descr"><%:Click "Rollback" to restore configuration to a previously saved.%></div>
    <div class="cbi-section-node">
        <form class="inline" method="post" action="<%=url('gateway/rollback')%>">
            <input type="hidden" name="token" value="<%=token%>" />
            <div class="cbi-value<% if not reset_avail then %> cbi-value-last<% end %>">
                <label id="latestbackup" class="cbi-value-title" for="image"></label>
                <div class="cbi-value-field">
                    <input class="cbi-button cbi-button-action important" type="button" onclick="restoreBackup()" name="backup" value="<%:Rollback%>" />
                </div>
            </div>
        </form>
    </div>

    <h3><%:Backup%></h3>
    <div class="cbi-section-descr"><%:Click "Generate archive" to download a tar archive of the current configuration files.%></div>
    <div class="cbi-section-node">
        <form class="inline" method="post" action="<%=url('admin/gateway/flashops/backup')%>">
            <input type="hidden" name="token" value="<%=token%>" />
            <div class="cbi-value<% if not reset_avail then %> cbi-value-last<% end %>">
                <label class="cbi-value-title" for="image"><%:Download Backup%>:</label>
                <div class="cbi-value-field">
                    <input class="cbi-button cbi-button-action important" type="submit" name="backup" value="<%:Generate archive%>" />
                </div>
            </div>
        </form>
    </div>
    <h3><%:Restore%></h3>
    <div class="cbi-section-descr"><%:To restore configuration files, you can upload a previously generated backup archive here.%></div>
    <div class="cbi-section-node">
        <form class="inline" method="post" action="<%=url('admin/gateway/flashops/restore')%>" enctype="multipart/form-data">
            <div class="cbi-value cbi-value-last">
                <label class="cbi-value-title" for="archive"><%:Restore backup%>:</label>
                <div class="cbi-value-field">
                    <input type="hidden" name="token" value="<%=token%>" />
                    <input type="file" name="archive" id="archive" />
                    <input type="submit" class="cbi-button cbi-button-action important" name="restore" value="<%:Upload archive...%>" />
                    <% if reset_avail then %>
                    <div class="cbi-value-description"><%:Custom files (certificates, scripts) may remain on the system. To prevent this, perform a factory-reset first.%></div>
                    <% end %>
                </div>
            </div>
        </form>
        <% if backup_invalid then %>
        <div class="cbi-section-error"><%:The backup archive does not appear to be a valid gzip file.%></div>
        <% end %>
    </div>
</div>



<%+footer%>
