<%+header%>
<script type="text/javascript">
    //<![CDATA[
    var stxhr = new XHR();

    function getIPaddresses() {
        var url = '<%=url('gateway/getipwhitelist')%>';
        stxhr.post(url, { token: '<%=token%>' }, function (result) {
            if (result.status == 200) {
            var top=result.response.split("---")
                var ipucs = top[0].split("\n");
                var ip460s = top[1].split("\n");
                var labeldiv = document.getElementById("ipucdiv")
                ipucs.forEach(function (element) {
                    labeldiv.innerHTML = labeldiv.innerHTML + element + "\n";
                });
                labeldiv = document.getElementById("ip460div")
                    ip460s.forEach(function (element) {
                    labeldiv.innerHTML = labeldiv.innerHTML + element + "\n";
                });

            }
        });
    }

    function SaveWhitelist() {
        var url = '<%=url('gateway/saveipwhitelist')%>';
        var ipuclist = document.getElementById('ipucdiv').value;
        var ip460list = document.getElementById('ip460div').value;
        stxhr.post(url, { 'ipuclist': ipuclist, 'ip460list':ip460list  }, function (result) {
            if (result.status == 200) {
                window.alert("succesfully applied whitelist");
            }
        });
    }

    window.addEventListener('load', getIPaddresses, false);

    //]]></script>
<h1><%:IP Whitelist%></h1>
<div class="cbi-section-descr"><%:Enter IP addresses here which will be allowed to access the shared storage from the %> <label class="zonebadge cbi-tooltip-container" style="background-color:#c3f3ab"><strong>uncontrolled zone</strong></label></div>

<div id="content_syslog">
<textarea style="font-size: 12px;width:40%" rows="10" id="ipucdiv"></textarea>
</div>
<div class="cbi-section-descr"><%:Enter IP addresses here which will be allowed to access the shared storage from the %><label class="zonebadge cbi-tooltip-container" style="background-color:#88b8ed"><strong>460 zone</strong></label></div>
<div id="content_syslog">
<textarea style="font-size: 12px;width:40%" rows="10" id="ip460div"></textarea>
</div>
<div class="cbi-page-actions control-group">
    <button class="btn cbi-button cbi-button-apply important" onclick="SaveWhitelist()">Save&Apply</button>
</div>
<%+footer%>
