﻿<%+header%>
<script>
    var stxhr = new XHR();
    function Passwordcheck(value) {
        var passwordchecksout = false;
        var strength = document.querySelector('.cbi-value-description')
            , strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g")
            , mediumRegex = new RegExp("^(?=.{8,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g")
            , enoughRegex = new RegExp("(?=.{8,}).*", "g");
        if (strength && value.length) {
            if (false == enoughRegex.test(value))
                strength.innerHTML = '%s: <span style="color:red">%s</span>'.format(_('Password strength'), _('More Characters'));
            else if (strongRegex.test(value)) {
                strength.innerHTML = '%s: <span style="color:green">%s</span>'.format(_('Password strength'), _('Strong'));
                passwordchecksout = true;
            }
            else if (mediumRegex.test(value))
                strength.innerHTML = '%s: <span style="color:orange">%s</span>'.format(_('Password strength'), _('Medium'));
            else
                strength.innerHTML = '%s: <span style="color:red">%s</span>'.format(_('Password strength'), _('Weak'));
        }
        return passwordchecksout;
    }

    function SavePWD() {
        var pw1 = document.getElementById('inputpasswordpw1').value;
        var pw2 = document.getElementById('inputpasswordpw2').value;
        if (pw1 == pw2) {
            if (Passwordcheck(pw1)) {
                var url = '<%=url("gateway/changepassword")%>';
                var data = '{ password: ' + pw1 + '}';
                stxhr.post(url, { 'password': pw1 },
                    function (result) {
                        if (result.status == 200) alert("Password succesfully changed");
                    });
            }
            else alert("Password is not strong enough!")
        }
        else {
            alert("Passwords do not match!")
        }


    }

    function setEventhandlers() {
        var pw1 = document.getElementById('inputpasswordpw1');
        pw1.addEventListener('input', function (event) {
            window.setTimeout(function () {
                Passwordcheck(event.target.value)
            }, 1);
        })
        var pw2 = document.getElementById('inputpasswordpw2');
        pw2.addEventListener('input', function (event) {
            window.setTimeout(function () {
                Passwordcheck(event.target.value)
            }, 1);
        })
    }
    document.addEventListener("DOMContentLoaded", setEventhandlers);

</script>
<div id="view">
    <div id="cbi-json" class="cbi-map">
        <h2 name="content">Gateway Password</h2>
        <div class="cbi-map-descr">
            Changes the gateway password for accessing the device
            <br><br>NOTE: password shall be at least 8 characters, and use a combination of lowercase letter, uppercase letters, numbers and special characters
        </div>
        <div class="cbi-section" data-idref="796c5dc1">
            <div id="cbi-json-password" class="cbi-section-node" data-section-id="password">
                <div class="cbi-value" id="cbi-json-password-pw1" data-index="0" >
                    <label class="cbi-value-title" for="password.pw1">Password</label><div class="cbi-value-field">
                        <div id="password.pw1" class="nowrap" data-idref="ec2479d7">
                            <input id="inputpasswordpw1" type="password" class="cbi-input-password">
                        </div>
                    </div>
                </div>
                <div class="cbi-value" id="cbi-json-password-pw2">
                    <label class="cbi-value-title" for="widget.cbid.json.password.pw2">Confirmation</label><div class="cbi-value-field">
                        <div id="password.pw2" class="nowrap">
                            <input id="inputpasswordpw2" type="password" class="cbi-input-password">
                        </div>
                        <div class="cbi-value-description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cbi-page-actions control-group">
        <button class="cbi-button cbi-button-save" onclick="SavePWD()">Save</button>
    </div>
</div>
<%+footer%>