<%+header%>  
 

<%

local utl = require "luci.util"

	luci.model.uci:foreach("firewall", "rule",
	function(s)
     for key, value in pairs(s) do
		 if value=='teamviewer' then
			teamviewerenabled=luci.model.uci:get("firewall",s[".name"],"enabled")

		 end	
     end	
	end)



uci:foreach("firewall", "rule",
	function(s)
		local n = s.name0
		if n then
			local i
			for i in utl.imatch(n) do
				if i == "teamviewer" then
					teamvieweron = s.enabled
					if not teamvieweron then
						smurf='hallo'
						teamvieweron=0
						teamvieweroff=1
					end
					return false
				end
			end
		end
	end)
	teamvieweron='disabled'
	teamvieweroff=0
	
%>

<script type="text/javascript">//<![CDATA[
	var stxhr = new XHR();
	var xhttp = new XMLHttpRequest();
    var protocols;
	
	function update_firewall(rule,action)
	{
		var url = '<%=url('gateway/firewall')%>?rule=' + rule + '&action=' + action;
		stxhr.post(url, {token: '<%=token%>' },
				function(result)
				{
					if (result.status==200)
					{
						uiConnectionUpdate(rule,action,0);
					}
				});
	}
	
	
	function uiConnectionUpdate(rule,action,usage,data)
	{
		var id='status'+rule;
		var statuselement = document.getElementById(id);
		if (action=="1")
		{
			statuselement.innerHTML="Protocol: "+ rule + "<br>State: <strong>connected</strong><br>Usage:" +usage + "<br>Uptime:"+data.activetimer + " minutes";
			document.getElementById(rule+'connectbutton').disabled=true;
			document.getElementById(rule+'disconnectbutton').disabled=false;
		}
		else
		{
			statuselement.innerHTML= rule + " disconnected";
			document.getElementById(rule+'connectbutton').disabled=false;
			document.getElementById(rule+'disconnectbutton').disabled=true;
		}
	}
	
	
	function uiStatuscheck()
	{
		protocols.forEach(function(rule){
			var url = '<%=url('gateway/readfirewall')%>?rule='+rule;
			stxhr.post(url, {token: '<%=token%>' },
			function(result)
			{
				var data = JSON.parse(result.response);
				var rulestate=data.rulestate;
				var usage = data.usage;
				var id='status'+rule;
				var statuselement = document.getElementById(id);
				var i=1;
				if (!statuselement)
				{
					var protocolinfo=data;
					var newprotocolrow = "<div class=\"tr cbi-rowstyle-" + i +"\" id=><div class=\"td col-3 center middle\"><div class=\"ifacebox\"><div class=\"ifacebox-head\" style=background-color:#" + protocolinfo.themecolor + " title="+protocolinfo.title+ ">";
					newprotocolrow+= "<strong>" + protocolinfo.title +"</strong></div><div class=\"ifacebox-body\" id=\"ifc-devices\" data-network=\"test\">" ;
				    newprotocolrow+="<img src=\"<%=resource%>/icons/" + protocolinfo.icon + "\"style=\"width:32px; height:32px\" /><br />";
					newprotocolrow+="<small>Port:" + protocolinfo.port + "</small></div></div></div>";
					newprotocolrow+="<div class=\"td col-5 left middle\" id=\"status" + rule + "\"></div>";

					newprotocolrow+="<div class=\"td cbi-section-actions\">";
					newprotocolrow+="<input id=\"" + rule + "connectbutton\" type=\"button\" class=\"cbi-button cbi-button-neutral\" onclick=\"update_firewall(\'" + rule + "\',\'1\')\" title=\"<%:Reconnect this interface%>\" value=\"Connect\"  />";
					newprotocolrow+="<input id=\"" + rule + "disconnectbutton\" type=\"button\" name=\"cbi.apply\" class=\"cbi-button cbi-button-neutral\" onclick=\"update_firewall(\'" + rule +"\',\'0\')\" value=\"Disconnect\"     /></div>";
					
					
					var protocoltable = document.getElementById("protocoltable");
					protocoltable.innerHTML+=newprotocolrow;
				}
				
				
				uiConnectionUpdate(rule,rulestate,usage,data);		
			});
		});
	}
	
	
	function getProtocols()
	{
		var url = '<%=url('gateway/readprotocols')%>';
		stxhr.post(url, {token: '<%=token%>' },
		function(result)
		{
			var i=1;
			protocols = JSON.parse(result.response);
		});
	}
	
	
	document.addEventListener("DOMContentLoaded", getProtocols);

	window.setInterval(uiStatuscheck, 1000);
	
//]]></script>
 
<h1><%:Gateway Control%></h1> 
	<h3><%:Available Gateway Protocols%></h3>
	<div class="cbi-section-descr" onload="statuscheck()"><%:Click "Enable Gateway" to enable/open a specific gateway protocol.%></div><%=smurf%>
	<div class="td cbi-section-node">
		<div class="table" id="protocoltable">
		</div>
	</div>
                                          
<%+footer%>
