<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2012 David Menting <david@nut-bolt.nl>
    Licensed to the public under the Apache License 2.0.
    -%>

    <%
    local ver = require "luci.version"
    local disp = require "luci.dispatcher"
    local request  = disp.context.path
    --local category = request[1]
    --local tree = disp.node()
    --local categories = disp.node_childs(tree)
    local s2sversion = luci.sys.exec("awk 'NR==1' /etc/s2s_release")
    local s2sbuild = luci.sys.exec("awk 'NR==2' /etc/s2s_release")
    local s2scommit = luci.sys.exec("awk 'NR==3' /etc/s2s_release|awk '{print substr($1,1,7)}'")
    %>
    <footer>
        <a href="http://www.shore2ship.com">Powered by Shore2ship</a> Version:<%=s2sversion%> build:<%=s2sbuild%>/<%=s2scommit%>  / <%= ver.distversion %>
        <ul class="breadcrumb pull-right" id="modemenu" style="display:none"></ul>
    </footer>
    </div>
    </div>
    <% if luci.dispatcher.context.authsession then %>
    <script type="text/javascript">L.require('menu-bootstrap')</script>
    <% end %>
    </body>
    </html>


