﻿<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2016 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2012 David Menting <david@nut-bolt.nl>
 Licensed to the public under the Apache License 2.0.
-%>

<%
	local sys  = require "luci.sys"
	local util = require "luci.util"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"
	local node = disp.context.dispatched
	
	local logouci = luci.model.uci:get("shore2ship","customisation","logo")
    local themecolor = luci.model.uci:get("shore2ship","customisation","themecolor")
    local logo = "\"" .. logouci .. "\"" 

	local boardinfo = util.ubus("system", "board")
	local ubus = require "ubus"
	local conn = ubus.connect()
	local username = ""
	if not conn then
		error("connection error")
	else
		local status = conn:call("session", "list", {ubus_rpc_session = luci.http.getcookie("sysauth")})
        if status then
		    username  = status.data.username
        end
	end
	
	function showit()
		if (username == nil or username=='') then
			write(' ')
		else	
			write(username)
		end
	end
	
	


	-- send as HTML5
	http.prepare_content("text/html")
-%>
<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">
	<head>
		<meta charset="utf-8">
		<title><%=striptags( (boardinfo.hostname or "?") .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %> - LuCI</title>
		<meta name="viewport" content="initial-scale=1.0">
		<link rel="stylesheet" href="<%=media%>/cascade.css?v=git-20.247.75781-0d0ab01">
		<link rel="stylesheet" media="only screen and (max-device-width: 854px)" href="<%=media%>/mobile.css?v=git-20.247.75781-0d0ab01" type="text/css" />
		<link rel="shortcut icon" href="<%=media%>/favicon.png">
		<% if node and node.css then %>
			<link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
		<% end -%>
		<% if css then %>
			<style title="text/css"><%= css %></style>
		<% end -%>
		<script src="<%=url('admin/translations', luci.i18n.context.lang)%>?v=git-20.247.75781-0d0ab01"></script>
		<script src="<%=resource%>/cbi.js?v=git-20.247.75781-0d0ab01"></script>
		<script id="knock" username="<%=username%>" src="<%=resource%>/mko.js"></script>
	</head>

	<body class="lang_<%=luci.i18n.context.lang%> <% if node then %><%= striptags( node.title ) %><%- end %>" data-page="<%= pcdata(table.concat(disp.context.requestpath, "-")) %>">
		<header>
			<div class="fill" style="background-image:linear-gradient(<% write(themecolor) %>,<% write(themecolor) %> )">
				<div class="container">
					<a class="brand" href="#"><img src=<% write(logo) %>" height="25"></a>
					<ul class="nav" id="topmenu" style="display:none"></ul>
					<div id="indicators" class="pull-right"></div>
				</div>
			</div>
		</header>

		<div id="maincontent" class="container">
			<%- if luci.sys.process.info("uid") == 0 and luci.sys.user.getuser("root") and not luci.sys.user.getpasswd("root") then -%>
				<div class="alert-message warning">
					<h4><%:No password set!%></h4>
					<p><%:There is no password set on this router. Please configure a root password to protect the web interface.%></p>
					<% if disp.lookup("admin/system/admin") then %>
					  <div class="right"><a class="btn" href="<%=url("admin/system/admin")%>"><%:Go to password configuration...%></a></div>
					<% end %>
				</div>
			<%- end -%>

			<noscript>
				<div class="alert-message warning">
					<h4><%:JavaScript required!%></h4>
					<p><%:You must enable JavaScript in your browser or LuCI will not work properly.%></p>
				</div>
			</noscript>

			<div id="tabmenu" style="display:none"></div>
